body{
    background-color: #F3F1FF;
}
.navbar img{
    width:40.42px;
    padding: 8px 0px;
    
}
.nav-link{
    color: #ffff;
}
.nav-item {
    padding: 0px 15px;
}
.bg-color{
    background-color: #562EFF;
}
.idea{
    margin-left: 10px;
    font-size: 25px;
}